doctype html
html
	head
		style
			include ../../public/css/stylesheet.css
		link(href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Inline|Bungee+Outline|Overlock" rel="stylesheet")

		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" rel="stylesheet")

	body
		a.btn.btn-secondary.btn-lg.active(href='/bulletinboard', role='button', aria-pressed='true') Go to the Message Board!


		h2 Motivation Board
		h5 Add your 'wiseful' message
		br
		form(action='/', method='post', autocomplete='off')
			.form-group
				label <b>Title:</b>
				br
				input(type='text', name='title', style='width: 350px;height: 30px')
			.form-group
				label <b>Message:</b>
				br
				textarea(type='text', name='message', style='width: 350px;height: 150px')
			button(type='submit', class="btn btn-primary", value='Submit Message') Submit Message

		script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")

